$react-upload-weibo-media-options:(

)!default;

.react-upload-weibo-media{
  position: relative;

  &:hover{
    input{
      border-color: darken(#ccc,15%);
    }
  }
  input{
    width: 100%;
    border: 2px dashed #ccc;
    padding: 10px;
    margin-bottom: 5px;

    &:focus{
      outline: none;
    }
  }

  &-img{
    border:1px solid #ccc;
    background: url(https://ws2.sinaimg.cn/large/006tNbRwgy1fuyzctsgfvj30cs0cs0ti.jpg) no-repeat center center;
    background-size: 16%;
    &.bgn{
      background: none;
    }
  }
}
